/***************** COMMON CSS START *****************/
body {
  padding-top: 4.8rem;
  position: relative;
}

.mainBody{ 
  min-height: 540px;
  background: url('../images/back-image.jpg');
  background-repeat: no-repeat;
  width: 100%;
  min-height: 800px;
  background-size: cover;
  padding: 20px 0;
}

h1,h2,h3,h4,h5,h6{
  color: #28a745;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:#477299;
  opacity: 1;
}

.text-green{
  color: #b9d339 !important;
}

.inlineList ul{ 
  padding-left: 0; 
  margin-bottom: 0;
}

.inlineList ul li{
  display: inline-block;
}

@media screen and (max-width:767px){
  body {
    padding-top: 7.9rem;
  }
}

/***************** END OF COMMON CSS *****************/


.navbar-dark{
  background-color: #012d54;
  /* box-shadow: 0px 3px 4px #888; */
}

.close-icon{
  background-image: url('../images/close-icon.png') !important;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
}

@media screen and (max-width:992px){
  .admin-dropdown{
    padding-top: 10px;
    padding-bottom: 5px;
  }
}
.topMenu{
  display: block;
  width: 100%;
  position: fixed;
  background-color: #012d54;
  padding: 10px 0;
  height: auto;
  top: 0;
  z-index: 999;
}

.topMenu .inlineList{
  padding-top: 0;
}


/***************** SECOND HEADER CSS START *****************/

.second-header{
  background: #f8f9fa;
  padding: 15px 0; 
  box-shadow: 1px 0px 2px #888888;
  margin-bottom: 3px;
}

.second-header .container{
  max-width: 980px;
}

.second-header .national-text{
  font-size: 18px;
  color: rgba(0,0,0,.5);
  font-weight:bold;
  line-height: 22px;
}

.second-header .project-name{
  font-size: 18px;
  font-weight: bold;
  color: #b9d339;
  line-height: 22px;
}

.second-header .inlineList ul li{
  padding-left: 10px;
}

.second-header .inlineList ul li:first-child{
  padding-left: 0;
}

.second-header .inlineList ul li::after{
  content: "|";
  font-size: 18px;
}

.second-header .inlineList ul li:last-child::after{
  content: "";
}

@media screen and (max-width:767px){
  .second-header .national-text{
    font-size: 16px;
  }
  
  .second-header .project-name{
    font-size: 16px;
  }

  /* .second-header .inlineList ul li{
    display: block;
  } */

  .second-header .inlineList ul li{
    padding-left: 0;
  }
}

/***************** END OF SECOND HEADER CSS *****************/

/***************** THIRD HEADER CSS START *****************/

.third-header{
  /* background: #f3f5f7; */
  background: #fffbfb;
  padding: 0; 
  /* box-shadow: 1px 0px 2px #888888; */
}

.third-header .container{
  max-width: 980px;
}

.third-header .inlineList ul li{
  padding: 5px 10px;
  background: #fffbfb;
  cursor: pointer;
  border-radius: 5px;
}

.third-header .inlineList ul li:hover{
  background: #ededed;
}

.third-header .inlineList ul li:first-child{
  padding-left: 0;
}

.third-header .inlineList ul li:first-child:hover{
  background: transparent;
}

.third-header .dropdown{
  padding-left: 0;
}
@media screen and (max-width:767px){
  .third-header .inlineList ul li {
    padding: 5px 7px;
  }

  .mobile-left{
    text-align: left !important;
  }
}

.down-icon{ position: relative;}
.arrow-icon-down{
  transform: rotate(90deg) !important;
}

.arrow-icon-up{
  background: #012d54;
  color: white;
  border: none;
  padding: 17px 10px 17px 10px;
  border-radius: 8px;

  position: absolute;
  left: 50%;
  top: 0;
  margin-top: -11px;
  outline: none;
  transform: rotate(-90deg);
}

.arrow-icon-down:focus,.arrow-icon-down:focus{
  outline: none;
}

.footer-arrow-icon-up{
  transform: rotate(-90deg) !important;
}

.footer-arrow-icon-down{
  background: #012d54;
  color: white;
  border: none;
  padding: 17px 10px 17px 10px;
  border-radius: 8px;
  position: absolute;
  left: 50%;
  top: -47px;
  outline: none;
  transform: rotate(90deg);
}

.footer-arrow-icon-down:focus, .footerarrow-icon-down:focus{
  outline: none;
}


/***************** END OF THIRD HEADER CSS *****************/

/***************** FOOTER SECTION CSS START *****************/

.footer{
  display: block;
  background: #ffffff;
  color: #252525;
  text-align: left;
  padding: 10px 0;
}

.footer .container{
  max-width: 980px;
}

/***************** END OF FOOTER SECTION CSS *****************/

/* https://jsfiddle.net/bootstrapious/j6zkyog8/ */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>a:after {
  content: "\f0da";
  float: right;
  border: none;
  font-family: 'FontAwesome';
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  margin-left: 0px;
}


/* ********************************************* */
#sidebarCollapse{
  /* position: absolute; */
  position: fixed;
  top: 30%;
}

.sidebarIcon{
  position: absolute;
  left: 10px;
  top: 30%;
}

#sidebar {
  width: 230px;
  position: fixed;
  top: 12%;
  left: -250px;
  height: 100vh;
  z-index: 9999;
  background: #343a40;
  background: #ffffff;
  color: #fff;
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  padding: 0;
}

#sidebar.active { left: 0;}

#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #7386D5;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#dismiss:hover {
  background: #fff;
  color: #7386D5;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.overlay.active {
  display: block;
  opacity: 1;
}

.side-icon{
  background: #012d54;
  color: white;
  border: none;
  padding: 17px 10px 17px 10px;
  border-radius: 0px 10px 10px 0px;
}

.icon-rotate {
  transform: rotate(180deg);
}

@media screen and (max-width:767px){
  
}

.menu-btn{
  background-color: #012d54;
  color: white;
  width: 100%;
  border-radius: 20px;
  text-align: left;
  padding: 2px 5px 5px 10px;
  font-size: 13px;
  font-weight: normal;
  
}

.menu-btn:focus{
  outline: none;
}

.menu-icon{
  float: right;
  margin-top: 5px;
}

.sub-menu-btn{
  background-color: #337ab7;
  color: white;
  width: 100%;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 5px;
  border: none;
}

.sub-menu-btn:focus{
  outline: none;
}

#sidebar-wrapper{
  padding-top: 50px;
}


.footer-collapse{
  position: relative;
}

.footer-collapse .side-icon {
  position: absolute;
  left: 50%;
  transform: rotate(-90deg);
  top: 0;
  margin-top: -47px;
  outline: none;
}

/* this is switch button code */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #b9d339;
}

input:focus + .slider {
  box-shadow: 0 0 1px #b9d339;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#display-img
{
  width: 100%;
  height: 80vh;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 10px;
  color: black;
  font-size: 13px;
}